* {
    margin-right: auto;
    margin-left: auto;
    background: blanchedalmond;
}

.tutogit {
    color: blanchedalmond;
    background: blueviolet;
    margin-top: auto;
    margin-bottom: auto;
}



